<section>
	<div *ngIf="isLoaded">
		<div *ngIf="isUserLoggedIn()">
			<header class="red">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="49.7" height="49.7" viewBox="0 0 49.7 49.7" enable-background="new 0 0 49.708 49.705" xml:space="preserve"><path fill="#FFFFFF" d="M48.8 43.5c-2.4-3.9-7.4-4-11.2-5.1 -4.4-1.2-8-2.9-6.7-8.2 0.6-2.1 2-3.7 2.9-5.7 1.1-2.2 1.7-4.8 1.9-7.1 0.2-2.1 0-4.3-0.1-6.4 -0.1-2.4-0.7-3.6-2.1-5.5 -1.7-2.3-5.2-5.2-8.4-5.5v0c0 0-0.1 0-0.2 0 0 0-0.1 0-0.1 0 0 0 0 0 0 0C24.8 0 24.7 0 24.7 0v0c0 0-0.1 0-0.1 0 -3.2 0.2-6.8 3.2-8.5 5.5 -1.4 1.9-1.9 3.1-2.1 5.5 -0.1 2-0.3 4.3-0.1 6.4 0.2 2.4 0.9 4.9 1.9 7.1 1 2 2.4 3.6 2.9 5.7 1.4 5.3-2.3 7-6.7 8.2 -3.8 1.1-8.8 1.1-11.2 5.1 -0.7 1.2-1.5 4.4-0.2 5.4 1.2 0.9 4.7 0.7 6.2 0.7 3.7 0 14.2 0 17.9 0v0c4.4 0 14.5 0 17.9 0 1.5 0 5.1 0.2 6.2-0.7C50.3 47.9 49.5 44.7 48.8 43.5"/></svg>
				<h1>שלום {{user.firstName}} {{user.lastName}}</h1>
			</header>
			<!--<main ng-if="vm.isLoaded">
				<div class="half-block"
					 ng-class="{'green': vm.data.remainingForToday >= vm.data.dailyCompanyLimit, 'gray': vm.data.remainingForToday < vm.data.dailyCompanyLimit}">
					<h3>
						יתרתך להיום:
					</h3>
					<h4>{{vm.data.remainingForToday | currency}}</h4>
					<h5>
						הגבלה יומית:
						{{vm.data.dailyCompanyLimit | currency}}</h5>
				</div>
				<div class="half-block"
					 ng-class="{'green': vm.data.avgTillEndOfTheMonth >= vm.data.dailyCompanyLimit, 'red': vm.data.avgTillEndOfTheMonth < vm.data.dailyCompanyLimit}">
					<h3>
						סבסוד יומי:
					</h3>
					<h4>{{vm.data.avgTillEndOfTheMonth | currency}}</h4>
					<h5>
						בממוצע, עד סוף החודש.
					</h5>
				</div>
				<div class="clear"></div>
				<h6>
					מאזן תקציב חודשי:
				</h6>
				<highchart class="chart stacked" config="vm.totalsChartConfig"></highchart>
				<h6>
					פירוט חיובים חודשי:
				</h6>
				<highchart class="chart columns" config="vm.monthlyChartConfig"></highchart>
			</main>
			<div ng-if="!vm.isLoaded">טוען נתונים...</div>-->
		</div>

		<div class="login-message" *ngIf="!isUserLoggedIn()">
			<h6>
				לצפיה בנתונים אנא התחבר אל
				<a href="http://www.10bis.co.il/" target="_blank">10Bis</a>
			</h6>
		</div>
	</div>
	<div *ngIf="!isLoaded">
		Loading...
	</div>

</section>